<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/bulma.css" />
    <link rel="stylesheet" href="/css/bulmaSass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Trails</title>
</head>

<body>
    <!--Don't forget to put in the menu and header -->
    {{{ body }}}

    <script></script>
</body>

</html>