$mobile: 675px;
$navbar-breakpoint: $mobile;
$family-secondary: "Rock Salt", cursive;

@import "../../node_modules/bulma/bulma.sass";
h1,
h2,
h3 {
  margin: 1em;
}

.card-header {
  padding: 0.5em 0 0.5em 0.5em;
}

.is-heading-box {
}
.is-sidebar {
  margin-top: 0;
  margin-bottom: 0;
}

.is-sidebar {
  .card,
  .columns,
  .column {
    margin: 0;
  }
  .column {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.is-paddings-2 {
  padding: 2rem;
}
form {
  max-width: 500px;
  margin: 0 auto 1rem;
}
#imageRemove {
  font-weight: bold;
  color: red;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  z-index: 2;
  padding: 0.1rem 0.7rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.1);
}
#imageRemove:hover {
  cursor: pointer;
}

.uNameErr {
  position: absolute;
  top: 2.5rem;
  z-index: 100;
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  background: none;
  margin-left: 40%;
}

#notLoggedIn {
  position: relative;
  top: 1rem;
  color: red;
  font-size: 1.5em;
}

.trailDetails {
  margin-top: -1em;
  font-size: 0.9em;
  font-weight: 400;
}

.is-sidebar .trailDetails {
  margin-top: 1rem;
  font-size: 0.9em;
  font-weight: 400;
  padding-bottom: 1rem;
}
.trailCols {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#recent-trailList .trailCols:last-of-type {
  border: none;
}

.trail {
  h1,
  h2,
  h3 {
    margin: 0.5em 0;
  }
}

.trailDescription {
  margin: 0.8rem;
  font-weight: 250;
}

.reviewHead {
  width: 12rem;
  position: relative;
  bottom: -2.8rem;
  box-shadow: none;
  left: -0.5rem;
  border-radius: 0.4rem 0.4rem 0 0;
  border: none;
}
.reviewHead:hover {
  cursor: default;
}
.user-review {
  margin: 1rem 2rem;
}
.reviewText {
  white-space: pre-wrap;
}

.trailBody,
.trailLocation,
.trailName {
  margin-left: 1rem;
  text-align: left;
}
.trailLocation {
  margin-top: -0.8rem;
}

#trail-list {
  margin-top: -1.4rem;
}
.frontpagelist {
  background-color: rgb(255, 255, 255, 0.95);
}

.twitter {
  margin-top: 1.2rem;
}

#recentTrails {
  box-shadow: none;
}

.trailListTitle {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  z-index: 10;
  position: relative;
}
.badPass {
  position: relative;
  top: 6.2rem;
  left: 7rem;
  z-index: 10;
  color: red;
  font-weight: bold;
}
