$family-secondary: "Rock Salt", cursive;

@import "../../node_modules/bulma/bulma.sass";
h1,
h2,
h3 {
  margin: 1em;
}

.card-header {
  padding: 0.5em 0 0.5em 0.5em;
}

.is-heading-box {
  border-radius: 0 0 6px 6px;
}
.is-sidebar {
  margin-top: 0;
  margin-bottom: 0;
}

.is-sidebar {
  .card,
  .columns,
  .column {
    margin: 0;
  }
  .column {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.is-paddings-2 {
  padding: 2rem;
}
form {
  max-width: 500px;
  margin: 0 auto 1rem;
}
#imageRemove {
  font-weight: bold;
  color: red;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  z-index: 100;
  padding: 0.1rem 0.7rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.1);
}
#imageRemove:hover {
  cursor: pointer;
}

.uNameErr {
  position: absolute;
  top: 0.6rem;
  z-index: 100;
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  background: none;
  margin-left: 4rem;
}
