$family-secondary: "Rock Salt", cursive;

@import "../../node_modules/bulma/bulma.sass";
h1,
h2,
h3 {
  margin: 1em;
}

.card-header {
  padding: 0.5em 0 0.5em 0.5em;
}

.is-heading-box {
  border-radius: 0 0 6px 6px;
}
.is-sidebar {
  margin-top: 0;
  margin-bottom: 0;
}
.is-sidebar .card,
.is-sidebar .columns .column {
  margin: 0;
}
.is-sidebar .column {
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}
