.item1 {
  font-family: "Rock Salt", cursive;
}
html,
body {
  min-height: 100vh;
  margin: 0;
}
.body {
  background-image: url("../images/background.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.titles {
  opacity: 0.9;
  text-align: center;
  margin: 20px;
  border-radius: 15px;
}

.display-4 {
  font-family: "Rock Salt", cursive;
}

.card {
  opacity: 0.9;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

.card-header {
  font-family: "Rock Salt", cursive;
  font-weight: bolder;
}

.page-footer {
  color: white;
  text-align: center;
}

.signin {
  color: white;
}

.container404 {
  max-width: 960px;
  margin-top: 0;
  margin-bottom: 0;
}
.container404 .columns {
  height: 100vh;
}

.container404 .column {
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  margin: 2em;
}
.container404 button {
  margin: 1em;
}

.label1 {
  color: white;
}
